{% load admin_static %}
{% load i18n admin_static %}
        <!-- header.head -->
        <header class="head">
            <div class="search-bar">
                <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle">
                    <i class="icon-sort"></i>
                </a>

                <form class="main-search">
                    <div class="input-group">
                        <input type="text" class="input-small form-control" placeholder="Live Search ...">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm" type="button"><i class="icon-search"></i></button>
                        </span>
                    </div>
                </form>

            </div>
            <!-- ."main-bar -->
            <div class="main-bar">
                <h3><i class="icon-home"></i> Metis</h3>
            </div>
            <!-- /.main-bar -->
        </header>
        <!-- end header.head -->